---
Title: Cake.Chocolatey.Module
NoSidebar: true
NoContainer: false
NoGutter: true
---

<div class="container">				
	<h1>What is it?</h1>
    <p>
        Cake.Chocolatey.Module is a Module for Cake, which extends it with a new IPackageInstaller for installing tools using the Chocolatey Application Package Manager.
    </p>
</div>